<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Fonts and Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="font-[Poppins] min-h-screen min-w-screen bg-gradient-to-t from-zinc-400 to-slate-700">
    {% include 'nav.html' %}

    <main class="container mx-auto px-4 py-8 font-[Poppins]">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>
</html>