{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto">
    <div class="bg-slate-400/100 shadow w-full min-h-96 rounded-b-lg p-4 text-slate-50 grid grid-cols-1">
        <span>
            <div class="rounded-t-lg w-full h-24 p-4 bg-slate-400 center text-black text-3xl relative">
                <input class="h-full w-full" type="text" id="mapSearch" placeholder="Map name...">
                <div id="mapDropdown" class="absolute left-0 right-0 bg-white text-black rounded-b-lg shadow z-10 hidden"></div>
            </div>
        </span>
        <span>
            <div class="content-center relative">
                <div id="floorArrows" class="absolute left-0 right-0 top-0 flex justify-between items-center px-4 z-20" style="pointer-events: none;">
                    <button id="arrowUp" class="bg-slate-700/80 text-white rounded-full p-2 m-2 shadow hidden" style="pointer-events: auto;">&#9650;</button>
                    <button id="arrowDown" class="bg-slate-700/80 text-white rounded-full p-2 m-2 shadow hidden" style="pointer-events: auto;">&#9660;</button>
                </div>
                <img class="max-h-3xl min-h-32 center">
            </div>
        </span>
    </div>
</div>
<script src="{{ url_for('static', filename='js/encounterCreate.js') }}"></script>
{% endblock %}