{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto">
    <div class="rounded-t-lg w-full h-24 p-4 bg-slate-400 container content-center">
        <a href="/enemys/create"><button type="button" class="focus:scale-90 scale-100 shadow-2xl h-full aspect-video shadow-green-700/50  text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 rounded-full text-xl text-center">Create</button></a> 
        <input class="h-full w-3/4" type="text">
    </div>
    <div class="bg-slate-400/100 shadow w-full min-h-96 rounded-b-lg grid-cols-2 grid gap-4 p-4 text-slate-50">
        <span class="bg-slate-700 hover:scale-105 rounded-xl shadow-sm p-2 w-full border-2 border-gray-900/50 max-w-4xl mx-auto container text-center aspect-square">
            <p class="text-3xl">
                Encounter
            </p>
        </span>
        <span class="bg-slate-700 hover:scale-105 rounded-xl shadow-sm p-2 w-full border-2 border-gray-900/50 max-w-4xl mx-auto container text-center aspect-square">
            <p class="text-3xl">
                Encounter
            </p>
        </span>
        <span class="bg-slate-700 hover:scale-105 rounded-xl shadow-sm p-2 w-full border-2 border-gray-900/50 max-w-4xl mx-auto container text-center aspect-square">
            <p class="text-3xl">
                Encounter
            </p>        
        </span>
        <span class="bg-slate-700 hover:scale-105 rounded-xl shadow-sm p-2 w-full border-2 border-gray-900/50 max-w-4xl mx-auto container text-center aspect-square">
            <p class="text-3xl">
                Encounter
            </p>   
        </span>
        <span class="bg-slate-700 hover:scale-105 rounded-xl shadow-sm p-2 w-full border-2 border-gray-900/50 max-w-4xl mx-auto container text-center aspect-square">
            <p class="text-3xl">
                Encounter
            </p>   
        </span>
    </div>
</div>
{% endblock %}